@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;

}

*::selection {
    background-color: rgb(175, 136, 103);
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/****************** HEADER *************************/
.header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.header,
main {
    padding: 0 2em;
}

.logo-header {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-header>img {
    width: 70px;
    height: 50px;
}

.navbar {
    flex: 1 0 5%;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    margin-right: 2em;
    color: rgb(131, 102, 78);
    font-size: .9rem;
    font-weight: lighter;
    position: relative;
}

.nav li a::before {
    content: '';
    background-color: rgb(175, 136, 103);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    transition: all .5s;
}

.nav li:hover a::before {
    width: 100%;
}

/******************************************* MAIN *****************************************/
.description-info-main {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2em;
}

.description-how-to-play-slide,
.rules-play ul {
    font-size: 1rem;
    line-height: 1.5em;
    margin-top: 1em;
    font-weight: 400;
}

.how-to-play-slide,
.rules-play {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(131, 102, 78);
    color: white;
}

.info-main-manual-section {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 4em;
}

.manual-section {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.opacity-to-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 4;
    display: none;
}

.play-now {
    text-decoration: none;
    background-color: rgb(175, 136, 103);
    text-align: center;
    width: 60%;
    padding: 1rem 0;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.play-now:hover {
    background-color: rgb(131, 102, 78);
    transition: all .5s;
}

.rules-play>ul {
    margin-left: 1rem;
}

.slider {
    width: 60%;
    height: 80%;
    position: relative;
}

.slider::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(131, 102, 78);
    position: absolute;
    top: -1em;
    right: -1em;
    z-index: -1;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -200%;
    transition: all .5s;
    z-index: 1;
}

.slider-content>img {
    width: 100%;
    height: 100%;
}

.slider-indicators {
    width: 4em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.slider-indicators>button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgb(141, 138, 138);
}

.slider-indicators>button:first-of-type {
    background-color: rgb(214, 214, 214);
}

.social-media {
    width: auto;
    height: 6em;
    position: absolute;
    right: 0;
    bottom: 1.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-media>a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(175, 136, 103);
}

.social-media>a:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.title-info-main {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.title-how-to-play-slide {
    font-size: 4em;
    font-weight: bold;
}

.title-rules-play {
    font-size: 5em;
}

.visible-slide {
    right: 0;
}

.win-game {
    width: 30%;
    height: 40%;
    border-radius: 5px;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}

.win-game>p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1rem;
}

/************************** PLAY GAME ************************************/
.add-disks,
.look-manual,
.auto-solve,.solve-automatic {
    width: 60%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(175, 136, 103);
    color: white;
    font-family: inherit;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
}

.base-tower {
    width: 100%;
    background-color: #ccc;
    height: 5%;
}

.container-tower {
    width: 30%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.counter-movements,
.best-movements {
    width: 100%;
    border-radius: 5px;
    border: 3px solid rgb(131, 102, 78);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
    color: rgb(131, 102, 78);
}

.disabled {
    background-color: #ccc;
}

.disk {
    background-color: rgb(175, 136, 103);
    width: 100%;
    height: 10%;
    border: 2px solid rgb(131, 102, 78);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.disks {
    width: 30%;
    outline: none;
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
}

.fa-rotate {
    position: absolute;
    top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(175, 136, 103);
    cursor: pointer;
}


.game-container {
    width: 80%;
    height: 50%;
    position: relative;
}

.guide-solution{
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: rgb(175, 136, 103);
    color: white;
    padding: 5px 2rem;
    display: none;
    line-height: 1.5rem;
    position: absolute;
    top: 1rem;
    left: -13.5rem;
    font-size: .8rem;
}


.header-play-game {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: relative;
}

.look-manual {
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.movements,
.info-game {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.info-game {
    width: 20%;
}

.next-movement{
    visibility: hidden;
    color: rgb(175, 136, 103);
    font-size: 2rem;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 1rem;
}

.numbers-of-disks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 25%;
    height: 30%;
}

.play-game {
    position: relative;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


.towers {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.tower {
    background-color: #ccc;
    width: 1em;
    height: 100%;
    cursor: pointer;
    position: absolute;
    height: 120%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.selected-disk {
    position: absolute;
    top: -6em;
}

.solve-automatic{
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.auto-solve {
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
}

.validate-message {
    width: 110%;
    padding: .5em;
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    bottom: -3.5em;
    left: 1em;
    border: 2px solid rgb(175, 136, 103);
    display: none;
    font-size: .9em;
}

.validate-message::after {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    top: -9px;
    left: 1em;
    transform: rotate(45deg);
    background-color: white;
    border: 2px solid rgb(175, 136, 103);
    border-right: none;
    border-bottom: none;
}


/***************************************** FOOTER ***************************************/
footer {
    margin-top: 2em;
    width: 100%;
    height: 20vh;
    background-color: rgb(131, 102, 78);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>small {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}


@media(max-width: 1100px) {

    /**************************** MAIN ***********************************/
    .description-info-main {
        font-weight: 400;
        font-size: 1rem;
        line-height: 2em;
    }

    .description-how-to-play-slide,
    .rules-play ul {
        font-size: 1rem;
        line-height: 1.5em;
        margin-top: 1em;
    }

    .fa-rotate {
        font-size: 1.2rem;
    }

    .how-to-play-slide,
    .rules-play {
        padding: 2em;
    }

    .info-main-manual-section {
        margin-top: 1em;
        width: 40%;
        height: 80%;
        justify-content: space-evenly;
        padding: 3em;
    }

    .manual-section {
        flex-direction: row;
        align-items: center;
        height: 90vh;
    }

    .play-now {
        width: 80%;
        order: 1;
    }

    .slider {
        width: 60%;
        height: 80%;
        position: relative;
    }

    .slider-container {
        width: 100%;
        height: 100%;
    }

    .social-media {
        position: absolute;
        right: 0;
    }

    .title-info-main {
        font-size: 3rem;
    }

    .title-how-to-play-slide {
        font-size: 3em;
    }

    .title-rules-play {
        font-size: 3em;
    }

    .win-game {
        width: 50%;
    }

    /************************ PLAY GAME *************************************/
    .add-disks,
    .look-manual,
    .auto-solve {
        width: 60%;
        margin-left: 0px;
        font-size: .8rem;
    }

    .counter-movements,
    .best-movements {
        font-size: .9rem;
        padding: 5px;
    }

    .disks {
        width: 30%;
        font-size: 1em;
    }


    .game-container {
        width: 80%;
        height: 50%;
        position: relative;
    }

    .look-manual {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        border-radius: 5px;
    }

    .movements,
    .info-game {
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .info-game {
        width: 30%;
    }

    .numbers-of-disks {
        position: relative;
        width: 30%;
        height: 30%;
    }

    .play-game {
        width: 100%;
        height: 100vh;
        padding: 0;
    }

    .auto-solve{
        border-radius: 5px;
        width: 100%;
        padding: 10px 0;
    }

    .guide-solution{
        width: 35%;
        height: 30%;
        overflow-y: scroll;
        border-radius: 5px;
        background-color: rgb(175, 136, 103);
        color: white;
        padding: 1rem 2rem;
        display: none;
        line-height: 1.5rem;
        position: absolute;
        top: 5.5rem;
        left: 0;
        font-size: .8rem;
    }

}

@media(max-width: 765px) {

    /*********************************** MAIN  ******************************************/
    .description-how-to-play-slide,
    .rules-play ul {
        line-height: 1em;
    }

    .info-main-manual-section {
        width: 100%;
        height: 60vh;
    }

    .manual-section {
        flex-direction: column;
        height: auto;
    }

    .play-now {
        width: 50%;
        order: 1;
    }

    .slider {
        width: 100%;
        height: 50vh;
        margin-top: 2em;
        position: relative;
    }

    .social-media {
        position: fixed;
        right: 1em;
    }

    .win-game {
        width: 70%;
        padding: 0 1rem;
    }
}

/* .disk{
    animation-name: goTowerC;
    animation-duration: 10s;
} */

@keyframes goTowerC {
    0% {
        position: absolute;
        bottom: 50%
    }

    10% {
        bottom: 100%
    }

    20% {
        bottom: 120%
    }

    30% {
        left: 50%;
    }

    40% {
        left: 100%;
    }

    50% {
        left: 150%;
    }

    70% {
        left: 200%;
    }

    80% {

        left: 250%;
    }

    90% {
        left: 300%;
    }

    100% {
        top: 120%;
        left: 300%;
    }
}