@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    padding: 0 1em;
    font-family: 'Roboto', sans-serif;
    position: relative;
}


.header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}


.logo-header {
    flex: 0 0 5%;
    height: 90%;
    text-decoration: none;
}

.logo-header>img {
    width: 100%;
    height: 100%;
}

.navbar {
    flex: 1 0 5%;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    margin-right: 2em;
    color: rgb(131, 102, 78);
    font-size: .9rem;
    font-weight: lighter;
    position: relative;
}

.nav li a::before {
    content: '';
    background-color: rgb(175, 136, 103);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    transition: all .5s;
}

.nav li:hover a::before {
    width: 100%;
}

/******************************************* MAIN *****************************************/

.validate-message{
    width: 110%;
    padding: .5em;
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    bottom: -3.5em;
    left: 1em;
    border: 2px solid rgb(175, 136, 103);
    display: none;
    font-size: .9em;
}

.validate-message::after{
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    top: -9px;
    left: 1em;
    transform: rotate(45deg);
    background-color: white;
    border: 2px solid rgb(175, 136, 103);
    border-right: none;
    border-bottom: none;
}

.manual-section {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider{
    width: 60%;
    height: 80%;
    position: relative;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(131, 102, 78);
    position: absolute;
    top: -1em;
    right: -1em;
    z-index: -1;
}

.slider-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -200%;
    transition: all .5s;
    z-index: 1;
}

.slider-content>img {
    width: 100%;
    height: 100%;
}

.how-to-play-slide,.rules-play{
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(131, 102, 78);
    color: white;    
}

.title-how-to-play-slide{
    font-size: 4em;
    font-weight: bold;
}

.description-how-to-play-slide, .rules-play ul{
    font-size: 1rem;
    line-height: 1.5em;
    margin-top: 1em;
    font-weight: 400;
}

.rules-play > ul{
    margin-left: 1rem;
}

.title-rules-play{
    font-size: 5em;
}




.slider-indicators {
    width: 4em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.slider-indicators>button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgb(141, 138, 138);
}

.slider-indicators>button:first-of-type {
    background-color: rgb(214, 214, 214);
}

.visible-slide {
    right: 0;
}

.info-main-manual-section {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 4em;
}

.title-info-main {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.play-now {
    text-decoration: none;
    background-color: rgb(175, 136, 103);
    text-align: center;
    width: 60%;
    padding: 1rem 0;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.play-now:hover {
    background-color: rgb(131, 102, 78);
    transition: all .5s;
}

.description-info-main {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2em;
}

.social-media {
    width: auto;
    height: 6em;
    position: fixed;
    right: 1.2rem;
    bottom: 1.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-media>a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(175, 136, 103);
}

.social-media>a:hover {
    transform: scale(1.2);
    transition: all .5s;
}

/************************** PLAY GAME ************************************/
.play-game{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.game-container{
    width: 80%;
    height: 50%;
    position: relative;
}

.towers{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.container-tower{
    width: 30%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.tower,.base-tower{
    background-color: #ccc;
    width: 1em;
    height: 100%;
}

.tower{
    position: absolute;
    height: 120%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.base-tower{
    width: 100%;
    height: 5%;
}

.header-play-game{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.numbers-of-disks{
    position: relative;
    width: 25%;
    height: 30%;
}

.disks{
    width: 30%;
    outline: none;
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
}

.disk{
    background-color: rgb(175, 136, 103);
    width: 100%;
    height: 10%;
    border: 2px solid rgb(131, 102, 78);
    border-bottom: none;
    z-index: 2;
}

.add-disks,.look-manual,.solve-auto{
    width: 60%;
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
    background-color: rgb(175, 136, 103);
    color: white;
    font-family: inherit;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
}

.disabled{
    background-color: #ccc;
}

.look-manual{
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.solve-auto{
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
}


.movements,.info-game{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.info-game{
    width: 20%;
}

.counter-movements,.best-movements{
    width: 100%;
    border-radius: 5px;
    border: 3px solid rgb(131, 102, 78);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
    color: rgb(131, 102, 78);
}